<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e7cb41bd-3e22-4bf5-9e7a-e25fd493a19d/resourceGroups/MaerskLineWebSEARG/providers/Microsoft.Web/sites/MaerskLineWebAppSEA</ResourceId>
    <ResourceGroup>MaerskLineWebSEARG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklinewebappsea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklinewebappsea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskLineWebAppSEA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaerskLineWebAppSEA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MaerskLineWebAppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User ID=TP032074;Password=mluser@pass123" Name="Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MaerskLineWebApp.Models.MaerskLineWebAppContext, MaerskLineWebApp" MigrationConfiguration="MaerskLineWebApp.Migrations.Configuration, MaerskLineWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User ID=TP032074;Password=mluser@pass123" Name="Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:maersklinewebappweudbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppWEU_db;Persist Security Info=False;User ID=TP032074;Password=mluser@pass123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:maersklinewebappweudbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppWEU_db;Persist Security Info=False;User ID=TP032074;Password=mluser@pass123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:maersklinewebappseadbserver.database.windows.net,1433;initial catalog=MaerskLineWebAppSEA_db;user id=TP032074;password=mluser@pass123;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:maersklinewebappseadbserver.database.windows.net,1433;initial catalog=MaerskLineWebAppSEA_db;user id=TP032074;password=mluser@pass123;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersklinewebappseadbserver.database.windows.net,1433;Initial Catalog=MaerskLineWebAppSEA_db;User Id=TP032074;Password=mluser@pass123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>